@media (max-width: 576px) {
  .post-home {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
  }
  .header-img > img {
    width: 250px;
    height: 250px;
  }
  .Blog-post-header {
    text-align: center;
    padding-top: 75px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 74px;
  }
  .Blog-post-header > h1 {
    color: #49608c;
    font-family: "Inter", Sans-serif;
    font-size: 48px;
    line-height: 56.7px;
  }

  .blog-posts-text {
    color: #fff;
    font-family: "Inter", Sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .blog-post-content {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
  }
  .Advance-Industry {
    padding: 0px !important;
    padding-top: 36px !important;
    padding-bottom: 36px !important;
    margin-bottom: 10px;
    /* width: 60%; */
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Advance-Industry > div > strong {
    color: #0683d7;

    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .Advance-Industry > p {
    text-align: left;
    color: #514d4d;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    line-height: 19.3px;
  }
  .options {
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    /* width: 30%; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Blog-posts-options {
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 22px 22px 22px 22px;
    background-color: #0683d7;
    border-radius: 10px 10px 0px 0px;
  }
  .BlogOptions {
    padding: 41px 50px 41px 50px;
  }
}
@media ((min-width: 576px) and (max-width:768px)) {
  .post-home {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
  }
  .header-img > img {
    width: 250px;
    height: 250px;
  }
  .Blog-post-header {
    text-align: center;
    padding-top: 75px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 74px;
  }
  .Blog-post-header > h1 {
    color: #49608c;
    font-family: "Inter", Sans-serif;
    font-size: 48px;
    line-height: 56.7px;
  }

  .blog-posts-text {
    color: #fff;
    font-family: "Inter", Sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .blog-post-content {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
  }
  .Advance-Industry {
    width: 60%;
    padding: 0px !important;
    padding-top: 36px !important;
    padding-bottom: 36px !important;
    /* margin-bottom: 10px; */
    /* width: 60%; */
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Advance-Industry > div > strong {
    color: #0683d7;

    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .Advance-Industry > p {
    text-align: left;
    color: #514d4d;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    line-height: 19.3px;
  }
  .options {
    width: 37%;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    /* width: 30%; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Blog-posts-options {
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 22px 22px 22px 22px;
    background-color: #0683d7;
    border-radius: 10px 10px 0px 0px;
  }
  .BlogOptions {
    padding: 41px 50px 41px 50px;
  }
}
@media ((min-width: 769px) and (max-width:992px)) {
  .post-home {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
  }
  .header-img > img {
    width: 250px;
    height: 250px;
  }
  .Blog-post-header {
    text-align: center;
    padding-top: 75px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 74px;
  }
  .Blog-post-header > h1 {
    color: #49608c;
    font-family: "Inter", Sans-serif;
    font-size: 48px;
    line-height: 56.7px;
  }

  .blog-posts-text {
    color: #fff;
    font-family: "Inter", Sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .blog-post-content {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
  }
  .Advance-Industry {
    width: 60%;
    padding: 0px !important;
    padding-top: 36px !important;
    padding-bottom: 36px !important;
    /* width: 60%; */
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Advance-Industry > div > strong {
    color: #0683d7;

    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .Advance-Industry > p {
    text-align: left;
    color: #514d4d;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    line-height: 19.3px;
  }
  .options {
    width: 37%;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    /* width: 30%; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Blog-posts-options {
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 22px 22px 22px 22px;
    background-color: #0683d7;
    border-radius: 10px 10px 0px 0px;
  }
  .BlogOptions {
    padding: 41px 50px 41px 50px;
  }
}
@media ((min-width: 993px) and (max-width:1200px)) {
  .post-home {
    display: flex;
  }
  .header-img {
    margin: auto;

    /* margin-top: 65px; */
  }
  .header-img > img {
    width: 250px;
    height: 250px;
  }
  .Blog-post-header {
    width: 53%;
    padding-top: 100px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 74px;
  }
  .Blog-post-header > h1 {
    color: #49608c;
    font-family: "Inter", Sans-serif;
    font-size: 48px;
    line-height: 56.7px;
  }

  .blog-posts-text {
    color: #fff;
    font-family: Avenir LT Std;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .blog-post-content {
    display: flex;
    padding-top: 74px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 74px;
  }
  .Advance-Industry {
    width: 60%;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Advance-Industry > div > strong {
    color: #0683d7;

    font-family: "Inter", Sans-serif;
    font-size: 24px;
    line-height: 29px;
  }
  .Advance-Industry > p {
    text-align: left;
    color: #514d4d;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    line-height: 19.3px;
  }
  .options {
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    width: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Blog-posts-options {
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 22px 22px 22px 22px;
    background-color: #0683d7;
    border-radius: 10px 10px 0px 0px;
  }
  .BlogOptions {
    padding: 41px 50px 41px 50px;
  }
}

@media (min-width: 1200px) {
  .post-home {
    display: flex;
  }
  .header-img {
    margin: auto;

    /* margin-top: 65px; */
  }
  .header-img > img {
    width: 250px;
    height: 250px;
  }
  .Blog-post-header {
    width: 53%;
    padding-top: 100px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 74px;
  }
  .Blog-post-header > h1 {
    color: #49608c;
    font-family: "Inter", Sans-serif;
    font-size: 48px;
    line-height: 56.7px;
  }

  .blog-posts-text {
    color: #fff;
    font-family: Avenir LT Std;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .blog-post-content {
    display: flex;
    padding-top: 74px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 74px;
  }
  .Advance-Industry {
    width: 60%;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Advance-Industry > div > strong {
    color: #0683d7;

    font-family: "Inter", Sans-serif;
    font-size: 24px;
    line-height: 29px;
  }
  .Advance-Industry > p {
    text-align: left;
    color: #514d4d;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    line-height: 19.3px;
  }
  .options {
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    width: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 1.7s, border-radius 1.7s,
      box-shadow 1.7s;
  }
  .Blog-posts-options {
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 22px 22px 22px 22px;
    background-color: #0683d7;
    border-radius: 10px 10px 0px 0px;
  }
  .BlogOptions {
    padding: 41px 50px 41px 50px;
  }
}
